.group-box {
    width: 100%;
    resize: none;
}
.api-group-box {
    height: 30%;
}
.log-group-box {
    height: 60%;
}
.group-control {
    width: 100%;
    resize: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.left-box {
    height: 100%;
    width: 50%;
}
.right-box {
    height: 100%;
    width: 50%;
}
.clean-both {
    clear: both;
}